@model IEnumerable<GaragePRO.Models.WorkOrder>

@{
    ViewBag.Title = "Work Orders";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4>Invoices</h4>
    <div class="d-flex align-items-center">
        <form class="d-flex align-items-center" role="search" method="get">
            <div class="me-2">
                <input class="form-control" type="date" name="fromDate" value="@Context.Request.Query["fromDate"]" />
            </div>
            <div class="me-2">
                <input class="form-control" type="date" name="toDate" value="@Context.Request.Query["toDate"]" />
            </div>
            <div class="me-2">
                <input class="form-control" 
                       type="search" 
                       name="searchString" 
                       value="@Context.Request.Query["searchString"]"
                       placeholder="Customer, Vehicle, etc." />
            </div>
            <button class="btn btn-sm btn-outline-success me-2" type="submit">Filter</button>
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Clear</a>
        </form>
        
        <a class="btn btn-sm btn-secondary mx-3" asp-action="Index">Archived Work Orders</a>
        <a class="btn btn-sm btn-success" asp-action="Create">+ Add New Work Order</a>
    </div>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>Work Order ID</th>
        <th>Date issued</th>
        <th>Status</th>
        <th>Mechanic</th>
        <th>VIN</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>

        <th style="width: 180px;">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var workOrder in Model)
    {
        <tr>
            <td>@workOrder.Id</td>
            <td>@workOrder.DateIn.ToString("dd.MM.yyyy")</td>
            <td>@workOrder.Status</td>
            <td>@workOrder.Mechanic.FullName</td>
            <td>@workOrder.Vehicle.VIN</td>
            <td>@workOrder.Vehicle.Make</td>
            <td>@workOrder.Vehicle.Model</td>
            <td>@workOrder.Vehicle.Year</td>

            <td>
                <a class="btn btn-primary btn-sm me-1" asp-action="Details" asp-route-id="@workOrder.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>