@model GaragePRO.Models.Invoice

@{
    ViewBag.Title = "Invoice Details";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4>Invoice Details</h4>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.Id">Export PDF</a>
                </li>
                @if (Model.Status == InvoiceStatus.Paid)
                {
                    <li>
                        <form asp-action="ArchiveInvoice" asp-route-id="@Model.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="dropdown-item">Archive Invoice</button>
                        </form>
                    </li>
                }
                <li>
                    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="dropdown-item text-danger">Delete</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="card mb-4 w-50">
    <div class="card-body">
        <h5 class="card-title">Invoice/Work Order #@Model.WorkOrderId</h5>
        <p class="card-text">
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">
                    <strong>Customer:</strong> @Model.WorkOrder.Vehicle.Customer.FullName<br/>
                    <strong>Address:</strong> @Model.WorkOrder.Vehicle.Customer.Address, @Model.WorkOrder.Vehicle.Customer.PostalCode, @Model.WorkOrder.Vehicle.Customer.City<br/>
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">
                    <strong>Vehicle Make and
                        Model:</strong> @Model.WorkOrder.Vehicle.Make | @Model.WorkOrder.Vehicle.Model<br/>
                    <strong>VIN:</strong> @Model.WorkOrder.Vehicle.VIN<br/>
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">


                    <strong>Sub Total:</strong> @(Model.SubTotal) €<br/>
                    <strong>VAT Amount:</strong> @Model.TaxAmount €<br/>
                    <strong>Total:</strong> @Model.Total €<br/>
                    <strong>Payment Type:</strong> @Model.PaymentType<br/>
                    <strong>Date Issued:</strong> @Model.DateIssued.ToString("dd.MM.yyyy")
                </p>
            </div>
        </div>
        <a class="btn btn-outline-dark w-25" asp-action="Index" asp-controller="Invoice">Back</a>
    </div>
</div>

