@model IEnumerable<GaragePRO.Models.Invoice>

@{
    ViewBag.Title = "Invoices";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4>Invoices</h4>
    <div class="d-flex align-items-center">
        <form class="d-flex align-items-center" role="search" method="get">
            <div class="me-2">
                <input class="form-control" type="date" name="fromDate" value="@Context.Request.Query["fromDate"]" />
            </div>
            <div class="me-2">
                <input class="form-control" type="date" name="toDate" value="@Context.Request.Query["toDate"]" />
            </div>
            <div class="me-2">
                <input class="form-control" 
                       type="search" 
                       name="searchString" 
                       value="@Context.Request.Query["searchString"]"
                       placeholder="Customer, Vehicle, etc." />
            </div>
            <button class="btn btn-sm btn-outline-success me-2" type="submit">Filter</button>
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Clear</a>
        </form>
        
        <a class="btn btn-sm btn-secondary mx-3" asp-action="Index" asp-route-showArchived="true">Archived Invoices</a>
        <a class="btn btn-sm btn-success" asp-action="Create">+ Add New Invoice</a>
    </div>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>Work Order ID</th>
        <th>Customer</th>
        <th>Vehicle</th>
        <th>Date Issued</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var invoice in Model)
    {
        <tr>
            <td>@invoice.WorkOrderId</td>
            <td>@invoice.WorkOrder?.Vehicle?.Customer?.FullName</td>
            <td>@invoice.WorkOrder?.Vehicle?.Make @invoice.WorkOrder?.Vehicle?.Model</td>
            <td>@invoice.DateIssued.ToString("dd.MM.yyyy")</td>
            <td>@(invoice.Total.ToString("N2", new System.Globalization.CultureInfo("sl-SI"))) €</td>
            <td>@invoice.Status</td>

            <td class="d-flex align-items-center justify-content-center">
                <a class="btn btn-primary btn-sm me-1" asp-action="Details" asp-route-id="@invoice.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>